@mixin flexy($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin media-query($break) {
  @if $break == "small" {
    @media (min-width: $brkpoint-sm) {
      @content;
    }
  } @else if $break == "medium" {
    @media (min-width: $brkpoint-md) {
      @content;
    }
  } @else if $break == "large" {
    @media (min-width: $brkpoint-lg) {
      @content;
    }
  } @else {
    @error "You have not entered a valid argument";
  }
}

@mixin center($width) {
  width: $width;
  margin: auto;
}