// Font weight
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Breakpoints
$brkpoint-sm: 480px;
$brkpoint-md: 768px;
$brkpoint-lg: 1400px;

// Colors
$viking: #58e1c1;
$malibu: #51ddfc;
$emerald: #63cc82;
$treehousegreen: #58e1c1;
$sunglo: #e4757a;
$coral: #fd7856;
$purple_mountains_majesty: #927bc1;
$riptide: #80e8d1;
$shakespeare: #3fabca;
$anakiwa: #7ee6fd;
$french_lilac: #deb2ee;
$vista_blue: #88d9a0;
$sea_pink: #ec9fa3;
$vivid_tangerine: #fd9f85;
$white: #fff;
$grey: #808080;

$color-primary: $viking;
$color-secondary: $malibu;
